

<table>
  <tr>
    Expected Payments
  </tr>
  <tr>
    <th>Amount</th>
    <th>Date</th>
  </tr>

  <% @loan.expected_payments.each do |payment| %>
  <tr>
    <td><%= number_to_currency(payment.amount) %></td>
    <td><%= payment.expected_date %></td>
  </tr>
  <% end %>
</table>